/* Shared Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn{
    border: none;
    border-radius: 4px;
    background-color:#30B868 ;
    color: white;
    font-size: 16px;
    font-weight:600;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;

    
}

  /*Main Style*/

header {
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 120px;
    padding-right: 120px;
}

.logo img {
    width: 139px;
    height: 60px;
}


nav{
    width: 100%;
    height: 92px;
    border: 1px solid red;
    margin: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}



nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    color: black;
    text-decoration: none;
}